body{
  margin:0px
}
header{
  padding: 10px;
  background-color: #A0D8B3;
}

h1{
  text-align: center;
}

.container{
  padding: 20px;
}

#form{
  text-align: center;

}

.card{
  padding: 10px;
  border: 1px black solid;
  width: 25%;
  height: 150px;
}

#detalleCasaRural{
  padding: 0px 30px;
}